{% extends 'admin.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Content</th>
            <th>Article ID</th>
            <th>User ID</th>
            <th class="size_delete">Supprimer</th>
        </tr>
        {% for comment in comments %}
            <tr>
                <td>{{ comment['id'] }}</td>
                <td>{{ comment['content'][:20] }}</td>
                <td>{{ comment['article_id'] }}</td>
                <td>{{ comment['user_id'] }}</td>
                <td>
                    <label for="{{ comment['id'] }}">
                    <img class="delete" src="web/img/delete.png" alt="delete user">
                    </label>
                    <form action="?action=admin_comment" class="none" method="POST">
                        <input type="text" name="id" value="{{ comment['id'] }}">
                        <input type="submit" id="{{ comment['id'] }}" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>{% endblock %}
