{% extends 'layout.html.twig' %}

{% block content %}
    {% for article in AllUsersArticles %}
        {% set title = article['title'] %}
        {% set matricule = article['matricule'] %}
        {% set img = article['image'] %}
        <section class="articles" id="{{ matricule }}">
            <article>
                <h2 class="custom_title_article"><a class="color_title_home" href="?action=read_article&article={{ matricule }}">{{ title }}</a></h2>
                <a class="color_title_home" href="?action=read_article&article={{ matricule }}"><img class="size_for_one_article" src="{{ img }}" alt="{{ title }}"></a>
                <p class="custom_text_article">{{ article['content'] }}</p>
            </article>
        </section>
    {% endfor %}
{% endblock %}
