{% extends 'layout.html.twig' %}

{% block content %}
<h1>ARTICLES</h1>
    {% for article in AllUsersArticles %}
        {% set title = article['title'] %}
        {% set matricule = article['matricule'] %}
        {% set img = article['image'] %}
        <section class="articles" id="{{ matricule }}">
            <article>
                <h1><a href="?action=articles&article={{ matricule }}"> {{ title }}</a></h1>
                <img src="{{ img }}"/>
                <p>{{ article['content'] }}</p>
            </article>
        </section>
    {% endfor %}
    <script type="text/javascript" src="web/script/showArticles.js"></script>
{% endblock %}
