{% extends 'layout.html.twig' %}
{% block content %}
        <section>
            {% for article in userArticles %}
                    <article class="content_article">
                        <h2> {{ article['title'] }} </h2>
                        <p class="date_article">Par <span class="custom_name">{{ username }} </span>{{ article['date'] }}</p>
                        {% set img = article['image'] %}
                        <img class="size_img_article" src="{{ img }}" alt="{{ title }}">
                        <p class="text_article">{{ article['content'] |raw | raw}}</p>
                    </article>
                    <p>editer l'article</p>
                    <form action="?action=edit_article" enctype="multipart/form-data" method="POST">
                        <input type="text" name="article_title" value="{{ article['title'] }}">
                        <input type="file" id="image" name="article_image">
                        <textarea name="article_content">{{ article['content'] |raw | raw}}</textarea>
                        <input type="text" class="none" name="article_id" value="{{ article['id'] }}">
                        <input type="text" class="none" name="article_old_image" value="{{ article['image'] }}">
                        <input type="submit" value="Modifié">
                    </form>

            {% endfor %}
        </section>
{% endblock %}