{% extends 'layout.html.twig' %}
{% block content %}
        <section>
            {% for article in userArticles %}
                    <article class="content_article">
                        <h2> {{ article['title'] }} </h2>
                        <p class="date_article">Par <span class="custom_name">{{ username }} </span>{{ article['date'] }}</p>
                        {% set img = article['image'] %}
                        <img class="size_img_article" src="{{ img }}" alt="{{ title }}">
                        <p class="text_article">{{ article['content'] }}</p>
                    </article>
            {% endfor %}
        </section>
{% endblock %}