{% extends 'layout.html.twig' %}

{% block content %}
    <section class="home">
        {% for article in AllUsersArticles %}
            {% set title = article['title'] %}
            {% set matricule = article['matricule'] %}
            {% set img = article['image'] %}
            {% set username = AllUsernames[article['user_id']] %}
            {% set nameImage = AllImagesNames[article['matricule']] %}
            {% set numberOfCommentsForEachArticle = numberOfComments[article['id']] %}

            <article class="content_article">
                <h2>
                    <a class="color_title_home" href="?action=read_article&article={{ matricule }}">
                        {{ title|nl2br}}
                    </a>
                </h2>
                <p class="date_article">Par
                    <a href="?action=usersprofil&user={{ username }}">
                <span class="custom_name">
                    {{ username }}
                </span>
                    </a>
                    {{ article['date'] }}
                    <img class="size_chat" src="web/img/chat.png" alt="icone de commentaire">
                    {{ numberOfCommentsForEachArticle }}
                </p>
                <div class="inline_tablet_view">
                    {% if nameImage is not empty %}
                        <a class="size_link" href="?action=read_article&article={{ matricule }}">
                            <img  class="size_img_article" src="{{ img }}" alt="{{ title }}">
                        </a>
                    {% endif %}

                    <p class="text_article">{{ contentArticle[article['matricule']]|raw | raw }}</p>
                </div>
                <div class="button_read_article">
                    <a class="color_title_home more_link" href="?action=read_article&article={{ matricule }}">
                        Lire la suite
                    </a>
                </div>
            </article>
        {% endfor %}
    </section>
    <aside class="part_right_home">
        <div class="titlebar">
            <h3>Prochainement</h3>
        </div>
        <div class="liste_aside">
            <div class="row_aside_previously">
                <a class="color_link_aside" href="http://www.allocine.fr/article/fichearticle_gen_carticle=18663412.html" target="_blank">
                    <img class="img_previously" src="web/img/previously.jpg" alt="rick grimes">
                    <p>Rick Grimes sera prêt à se sacrifier</p>
                </a>
            </div>
            <div class="row_aside_previously line_top_previously">
                <a class="color_link_aside" href="http://www.allocine.fr/article/fichearticle_gen_carticle=18662326.html" target="_blank">
                    <p>Chandler Riggs a lu le script du premier épisode, et il adore !</p>
                </a>
            </div>
            <div class="row_aside_previously line_top_previously">
                <a class="color_link_aside" href="http://www.allocine.fr/article/fichearticle_gen_carticle=18662315.html" target="_blank">
                    <p>Negan annonce la date de début de tournage</p>
                </a>
            </div>
            <div class="row_aside_previously line_top_previously">
                <a class="color_link_aside" href="http://www.allocine.fr/article/fichearticle_gen_carticle=18662289.html" target="_blank">
                    <p>3 personnages promus au rang de réguliers dans la saison 8</p>
                </a>
            </div>
        </div>
        <div class="titlebar">
            <h3>L'actu serie</h3>
        </div>
        <div class="list_aside_actu">
            <div class="row_aside_previously">
                <iframe src="http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19566996" frameborder="0"></iframe>
                <a class="color_link_aside" href="http://www.allocine.fr/video/player_gen_cmedia=19566996&cserie=7330.html" target="_blank">
                    <div class="marge_description">
                        <p>The Walking Dead - saison 7 partie 2 Bande-annonce VO</p>
                    </div>
                </a>
            </div>
            <div class="row_aside_previously line_top_previously">
                <iframe src="http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19564172" frameborder="0"></iframe>
                <a class="color_link_aside" href="http://www.allocine.fr/video/player_gen_cmedia=19564172&cserie=7330.html" target="_blank">
                    <div>
                        <p>The Walking Dead - saison 7 Bande-annonce VO</p>
                    </div>
                </a>
            </div>
            <div class="row_aside_previously line_top_previously">
                <iframe src="http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19568332" frameborder="0"></iframe>
                <a class="color_link_aside" href="http://www.allocine.fr/video/player_gen_cmedia=19568332&cserie=7330.html" target="_blank">
                    <div>
                        <p>The Walking Dead - saison 7 SPOT VO "Football Season is over"</p>
                    </div>
                </a>
            </div>
        </div>
    </aside>
{% endblock %}