{% extends 'layout.html.twig' %}
{% block content %}
    <section class="profil">
        <div class="first_part_profil">
            <div class="button_profil left">
                <a class="more_link_profil" href="?action=add_article">
                    Créer un article
                </a>
            </div>
            <div class="button_profil right">
                <span class="more_link_profil" id="edit_profil">
                    Editer PROFIL
                </span>
            </div>
        </div>
        <div class="second_part_profil">
            <div class="border_profil" id="border_profil_box">
                <img class="avatar" src="web/img/avatar.jpg">
                <p>{{ username }}</p>
                <p>{{ firstname }}  {{ lastname }}</p>
                <p>{{ birthday }}</p>
                <p>{{ numberOfArticles }} article(s) posté(s) </p>
                <p>{{ numberOfComments }} commentaire(s) au total</p>
            </div>
            <div id="form_edit_profil" class="none">
                <form action="?action=profil" method="POST">
                    <input type="text" value="{{ username }}" name="username" placeholder="Modifier votre nom d'utilisateur">
                    <input type="text" value="{{ firstname }}" name="firstname" placeholder="Modifier votre nom">
                    <input type="text" value="{{ lastname }}"  name="lastname" placeholder="Modifier votre prénom">
                    <input type="text" value="{{ birthday }}" name="birthday" placeholder="Modifier votre date de naissance">
                    <input type="text" value="{{ id }}" name="id" class="none">
                    <input type="submit" value="Valider">
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="web/script/ajax-edit-profil.js"></script>
{% endblock %}
