{% extends 'layout.html.twig' %}

{% block content %}
    {% for article in AllUsersArticles %}
        {% set title = article['title'] %}
        {% set matricule = article['matricule'] %}
        {% set img = article['image'] %}
        {% set id = article['id'] %}

        <section class="home read-articles" id="{{ matricule }}">
            <article class="content_article">
                <h2 class="custom_title_article">{{ title }}</h2>
                <p class="date_article">Par
                    <span class="custom_name">{{ username[article['user_id']] }}</span>
                    {{ article['date'] }}
                </p>
                <img class="size_for_one_article" src="{{ img }}" alt="{{ title }}">
                <p class="custom_text_article text_article">{{ article['content'] }}</p>
            </article>
            {% set comments = AllArticleComments[id] %}
            {% for comment in comments %}
                <p><b>{{userWhoComment[comment['user_id']] }}</b> : {{ comment['content'] }}</p>
            {% endfor %}
            {% if userConnect is not empty %}
                <div id="comments-area">
                    <form name="comment-form" action="?action=read_article&article={{ matricule }}" METHOD="POST">
                        <input type="text" class="none" name="article_id" value="{{ id }}"/>
                        <textarea name="content" placeholder="Votre commentaire..."></textarea>
                        <input type="submit" value="Commenter">
                    </form>
                </div>
            {% endif %}
            {% if userConnect is empty %}
                <p><a href="?action=login">Connecter vous pour laisser un commentaire</a></p>
            {% endif %}
        </section>

    {% endfor %}
    <hr>

    <script type="text/javascript" src="web/script/showArticles.js"></script>
{% endblock %}