{% extends 'layout.html.twig' %}

{% block content %}
    {% for article in AllUsersArticles %}
        {% set title = article['title'] %}
        {% set matricule = article['matricule'] %}
        {% set img = article['image'] %}
        {% set id = article['id'] %}

        <section class="read-articles" id="{{ matricule }}">
            <article>
                <h2 class="custom_title_article">{{ title }}</h2>
                <img class="size_for_one_article" src="{{ img }}" alt="{{ title }}">
                <p class="custom_text_article">{{ article['content'] }}</p>
            </article>
            <div id="comments-area">
                <form name="comment-form" action="?action=read_article&article={{ matricule }}" METHOD="POST">
                    <input type="text" name="article_id" value="{{ id }}"/>
                    <textarea name="content" placeholder="Votre commentaire..."></textarea>
                    <input type="submit" value="Commenter">
                </form>
            </div>
        </section>
    {% endfor %}

    <hr>

    <script type="text/javascript" src="web/script/showArticles.js"></script>
{% endblock %}