{% extends 'layout.html.twig' %}

{% block content %}
    {% for user in AllUsers %}
        <section class="profil none" id="{{ user['username'] }}">
            <div class="first_part_profil">
            </div>
            <div class="second_part_profil">
                <img class="avatar" src="web/img/avatar.jpg">
                <p>{{ user['username'] }}</p>
                <p>{{ user['firstname'] }} - {{ user['lastname'] }}</p>
                <p>{{ user['birthday'] }}</p>
                <p>{{ numberOfArticles[user['username']] }} article(s) posté(s) - {{ numberOfComments[user['username']] }} commentaire(s) au total</p>
            </div>
        </section>
    {% endfor %}
    <script type="text/javascript" src="web/script/showUsers.js"></script>
{% endblock %}
